require "pry"
binding.pry
<%= @vegetables.name %>

<br><br>

<form action="/vegetables/<%= @vegetables.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" name="content">
  <input id="submit" type="submit" name="Edit Garden">
</form>

<br><br>


