
<h1>Here are all vegetables that have been planted so far!</h1>
<ul>
<% @vegetables.each do |veg| %>
<li><%=veg.name%> - <%=veg.date_planted%></li>
<% end %>
</ul>

<br></br>

<form action='/vegetables' method='get'>
  <input type="submit" value="Return to my Garden">
  </form>





