<h1>Take a look at your garden!</h1><br>

<h3>If you have planted any new vegetables, add them <a href="/vegetables/new">here</a></h3>

<h3>Would you like to edit you garden, do it <a href="/vegetables/edit">here</a></h3>
