<h1>Take a look at your garden!</h1><br>

<ul>
<% @gardener.vegetables.each do |veg| %>
<li><a href="<%="/vegetables/#{veg.id}"%>"><%=veg.name%> - <%=veg.date_planted.strftime("%B %d, %Y")%></a></li>
<% end %>
</ul>

<h3>If you have planted any new vegetables, add them <a href="/vegetables/new">here</a></h3>

<h3>If you'd like to edit or delete your vegetables, just click on them!</h3>

<h3>Enough gardening for today?</h3>
<form action="/logout" method="get">
  <input type="submit" value="Logout">
</form>


