<h1>What vegetable did you plant?</h1><br>

<form action="/vegetable/new" method="POST">
<h3><label>Name: </label></h3>
<input type="text" name="name"><br>

<h3><label>Date planted: </label></h3>
<input id="datetime type="date" name="date"><br>

<input type="submit" value="submit">
</form>