<h1>What vegetable did you plant?</h1><br>

<form action="/gardeners/show" method="POST">
<label>Name: </label>
<input type="text" name="name"><br>

<label>Date planted: </label>
<input id="datetime" type="date" name="date_planted"><br>

<input type="submit" value="submit">
</form>