<label>Name:</label>
<h3><%=@vegetable.name%></h3>
<label>Date planted:</label>
<h3><%=@vegetable.date_planted%></h3>
<form action='/vegetables' method='get'>
  <input type="submit" value="Return to my Garden">
  </form>
  <form action="/vegetables/<%= @vegetable.id %>/edit" method="get"><h3>Edit or delete this item?</h3>
  <input type="submit" value="Edit or Delete">
</form>