<link rel="stylesheet" href="/stylesheets/main.css" />

<div class="container">
  <center><header><div><img src="\images\more-veggies.jpeg" class="img-responsive main-image"></div></header></center>
<center><h1>Thanks for stopping by!</h1></center>

</div>
