<h1>Welcome to your garden organizer!</h1>

<h3>Do you already have a garden?</h3>
 <h3><a href="/login">Log In</a> to continue.</h3><br>
 
<h3>Would like to create a garden? Please <a href="/signup">Sign Up</a></h3> 

<h3>Check out what others have planted for inspiration! <a href="/vegetables/garden">Enter Garden</a></h3>

