<center><h1>Welcome to your private garden!</h1></center>


<h3>Log in here:</h3>

<form action="/login" method="POST">
  <label>Username: </label>
  <input type="text" name="username">
  <label>Password: </label>
  <input type="text" name="password">

  <input type="submit" value="submit">
</form>

<br>

<h3>Don't have a garden yet? Sign up <a href="/signup">here</a></h3>
