
<h3>Sign up here:</h3>
<form action="/signup" method="POST">
  <label>Name: </label>
  <input type="text" name="username">
  <label>Password: </label>
  <input type="text" name="password">
   <input type="submit" value="submit">
   </form>


<br>